.LayoutStyle {
  text-align: center;
}

.Main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.Row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.Column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.Column:nth-child(1),
.Column:nth-child(2) {
  flex: 1; /* Adjusted flex value for both columns in the first row */
  height: 400px;
}

.Column:nth-child(3) {
  flex: 2; /* Adjusted flex value for the third column in the first row */
  height: 400px;
}

.Column h2 {
  color: #333;
  margin-bottom: 5px;
  margin-top: -5px;
}

.Column p {
  margin-top: 5px;
}

.ColumnContent {
  display: flex;
  align-items: center;
}

.ImageContainer {
  flex: 1;
}

.TextContainer {
  flex: 2;
  padding-left: 30px;
}

.ImageContainer img {
  max-width: 100%;
  height: auto;
}
